body {
    background-color: blue;
}
#outerContainer {   
    border: 20px solid red;
    display: flex;
    justify-content: space-around; /* Adjust this to your preferred spacing */
    flex-wrap: wrap; 
   
}

.grid-item {
    background-color: #ccc;
    border: 1px solid #000;
    padding: 20px;
}