body {
    background-color: blue;
}
#outerContainer {   
    border: 20px solid red;
    height: 520px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}



.grid-item {
    background-color: #ccc;
    display: flex;
    width: 100%; /* 100% of grid cell width */
    height: 100%; /* 100% of grid cell height */
    box-sizing: border-box;
    border: 1px solid black;
}